:root {
    /* Setting up default color values */
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --gray: hsl(0, 0%, 20%);
    --darkgray: hsl(0, 0%, 12%);
    --offblack: hsl(0, 0%, 8%);
    --section-padding: 0.3em;
}

* {
    /* Using the "Inter" Google Font */
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: var(--white);

    /* There seems to be a bit of a curved-corners thing happening.  Let's make
   it global. */
    border-radius: 0.7em;
}

body {
    background-color: var(--offblack);
    /* Removes the scrollbars that shouldn't be there. */
    margin: 0px;
    /* padding: 0px;   */

    /* Sets container size to match browser space. */
    height: 100vh;
    width: 100vw;

    /* Set Up the Container */
    display: flex;
    flex-direction: column;
    align-items: center;        /* Horizontally Align */
    justify-content: center;    /* Vertically Align */
}

main {
    background-color: var(--darkgray);
    padding: 2em;
    width: 18.7em;
    margin-top: 1em;
    text-align: center;

    /* Set Up the Container */
    display: flex;
    flex-direction: column;
    align-items: center;        /* Horizontally Align */
    padding-top: 1em;
    padding-bottom: 0em;
}

section.avatar {
    padding: var(--section-padding);
    padding-top: 0.3em;
}

img.avatar {
    border-radius: 90px;
    height: 7em;
}

h1.name {
    font-size: 1.7em;
    font-weight: 600;
    margin: 0;
    padding: var(--section-padding);
}

section.location {
    color: var(--green);
    font-weight: 700;
    padding: var(--section-padding);
}

section.description {
    padding: var(--section-padding);
    
}

nav.social {
    width: 95%;
    padding: var(--section-padding);
}

ul.social {
    list-style: none;
    margin: 0;
    padding: 0;

    /* Set Up the Container */
    display: flex;
    flex-direction: column;
    align-items: center;        /* Horizontally Align */
    width: 100%;
}

li.social {
    width: 100%;
    list-style: none;
    margin: 0.6em;
    padding: 1em;
    background-color: var(--gray);
    transition-duration: 0.15s;
    a {
        font-weight: 700;
        text-decoration: none;
        transition-duration: 0.15s;
    }
}


li.social:hover, li.social:focus-within {
    background-color: var(--green);
    a {
        color: var(--darkgray);
        transition-duration: 0.15s;
    }
    transition-duration: 0.15s;
}

footer.attribution {
    font-size: 11px;
    text-align: center; 
}

a.attribution {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 600px) {
    main {
        padding: 2.5em;
        width: 21.5em;
        margin-top: 2em;
    }
}
